{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Blog de Dominqiue</h1>
        <p class="lead">Page des articles</p>
    </div>
</div>

<div class="container">
    <div class="row">

        {% for article in items %}
        <div class="col-12 col-md-4">

            <div class="card text-start">
                <img class="card-img-top" src="{{article.image}}" alt="Illustration de l'article {{article.title}}">
                <div class="card-body">
                    <h4 class="card-title">{{article.title}}</h4>
                    <p class="card-text">{{article.content |striptags|slice(0,70) ~'...'}}</p>
                    <!-- Pour concaténer en twig , on utilisera le tilde(altgr+2) "~" -->
                    <!-- Pour ajouter des fonctions prédéfinies on utilisera la barre verticale  ou la pipe (altgr + 6) "|" (ou barre verticale) -->
                    <a href="{{path('show',{'id':article.id}) }}" class="btn btn-dark">VOIR</a>
               <a href="{{path('edit', {'id':article.id}) }}" class="btn btn-dark">MODIFIER</a>
                </div>
<div class="card-footer">

<p>{{article.author}}</p>
<p>{{article.createAt | date('d-m-Y') }}</p>

</div>

            </div>



        </div>


        {% endfor%}

    </div>

</div>


{% endblock %}